.form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.parent {
  padding: 1rem;
}

.form_item {
  flex: 1 0 20%;
  margin: 1rem;
  padding: 10px;
  border: 1px solid black;
  min-width: 12rem;
}

td {
  width: 10rem;
}
.load_more{
 width: 70%;

}

.pokemon_open .opening {
  display: none;
}

.active .opening {
  display: block
}